/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
/* VARIABLES */
:root{
    --gris-oscuro: rgb(136,136,136);
    --gris-medio: rgb(221,221,221);
    --gris-claro: rgb(244,244,244);
    --gris-input: rgb(238,238,238);
    --negro: rgb(3,3,3);
    --azul: rgb(59,89,152);
    --celeste:rgb(98,166,251);
}
/* SELECTOR UNVIERSAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--gris-claro);
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
button{
    font-family: 'Roboto', sans-serif;
}
i{
    margin-right: 0.5rem;
}
/* SECTOR IZQUIERDO DEL SIGN IN */
img{
    width: 45rem;
    height: 101vh;
}
.imagen{
    position: relative;
    margin-top: 1rem;
}
.texto-imagen{
    position: absolute;
    top: 5rem;
    left: 5rem;
    z-index: 5;
}
.texto-imagen h1{
    font-size: 2.5rem;
    font-weight: 500;
}
.texto-imagen p{
    font-size: 1.5rem;
    color: var(--gris-oscuro);
}
/* SECTOR DERECHO DEL SIGN IN */

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}
input{
    background-color: var(--gris-input);
    border-radius: 10px;
    border: none;
    width: 24rem;
    height: 3rem;
    padding: 0rem 1rem 0rem 2.3rem;
    outline: none;
    position: relative;
}
.user i{
    position: absolute;
    top: 0.7rem;
    left: 0.5rem;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--gris-oscuro);
}
.password i{
    position: absolute;
    top: 5.7rem;
    left: 0.5rem;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--gris-oscuro);
}
input::placeholder{
    color: var(--gris-oscuro);
    font-weight: 500;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
}
.sign-in{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 3rem;
    padding-left: 18rem;
    margin-bottom: 6rem;
}
.sign-in h1{
    font-size: 3rem;
    font-weight: 500;
}
.tenes-cuenta{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.btn-sign-up{
    border: 1px solid var(--negro);
    background-color: var(--negro);
    color: white;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    padding: 0.6rem;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 250ms;
}
.btn-sign-up:hover{
    background-color: transparent;
    color: var(--negro);
}
.no-tenes-cuenta{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    align-self: center;
}
.no-tenes-cuenta p{
    color: var(--gris-oscuro);
    font-size: 0.8rem;
    font-weight: 500;
}
.no-tenes-cuenta a{
    position: relative;
    color: var(--negro);
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
    transition: all 250ms;
}
.no-tenes-cuenta a:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--negro);
    top: 1.2rem;
    transform: scale(0);
    transform-origin: center;
    transition: all 250ms;
}
.no-tenes-cuenta a:hover:before{
    transform: scale(1);
}

@media (max-width:1600px) {
    img{
        width: 40rem;
    }
    .sign-in{
        padding-left: 20rem;
    }
}
@media (max-width:1500px) {
    img{
        width: 35rem;
    }
    .sign-in{
        padding-left: 15rem;
    }
}